@model List<TipoMascota>

<h1>Lista de tipo de mascotas</h1>

<div class="alert alert-warning">
    Cantidad de registros realizados: @ViewData["cantidad"]
</div>

<ul class="list">
@foreach (var tipo in Model)
{
    <li>@tipo.Nombre</li>
}
</ul>

